.content2 {
  max-width: var(--content-wrapper-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header {
  padding: 0.25rem;
  background-color: rgba(83, 204, 182, 0.7);
  position: fixed;
  width: 100%;
  /* margin-top: 0; */
  /* top: 0vh; */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border: 1px solid red;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  /* border: 1px solid blue; */
  overflow: hidden;
}

.header-link {
  font-family: "Space grotesk", sans-serif;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  font-weight: 400;
  white-space: nowrap;
  font-size: 0.75rem;
}

.header-link:hover {
  color: var(--lightgray);
  text-decoration: underline;
}

.header-logo {
  padding-right: 2rem;
}

/* & ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid blue;
} */

/* .menu-items {
  align-items: center;
  max-width: 100%;
  border: 1px solid green;
} */

/* test below */

header .button {
  display: none;
}

.button {
  appearance: none;
  border: 0px solid transparent;
  background-color: transparent;
  transition: 0.5s all ease;
  cursor: pointer;
}

/* 
body > nav {
  position: absolute;
  width: 200px;
  background-color: var(--teal);
  bottom: 0;
  top: 0;
  padding: 1.25rem;
  color: var(--white);
  right: -200px;

  transition: 0.5s all ease-in-out;
}

body.menu-is-open > nav {
  transform: translateX(-200px);
}

body > nav li {
  list-style: none;
  margin-bottom: 0.75rem;
} */

/* body nav a {
  font-family: "Space grotesk", sans-serif;
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.25s all ease-in;
} 

a:hover {
  color: var(--lightgray);
} */

/* #nav-mobile {
  display: none;
  z-index: 20;
} */

@media screen and (max-width: 768px) {
  header .button {
    display: block;
  }
  /* #nav-mobile {
    display: block;
  } */

  .menu {
    flex-direction: column;
    display: none;
  }
}
