* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --content-wrapper-width: 60%;
  --base-space: 1.25rem;
  /* colours */
  --darkgray: #414141;
  --lightgray: #d9d9d9;
  --teal: #53ccb6;
  --white: #fff;
  --violet1: #7084de;
  --violet2: #d2d4f5;
  --violet3: #f0f1fc;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 100%;
  color: var(--darkgray);
  background-color: var(--white);
}

.content-wrapper {
  max-width: var(--content-wrapper-width);
  margin: 0 auto;
  padding: 7rem 0rem 7rem 0rem;
  overflow-x: hidden;
}

/* ====== OPEN ===== */
.open {
  background-image: url("../images/header-bg.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  position: relative;
  overflow: hidden;
}

.logo {
  max-width: 50%;
  /* margin-top: 1rem; */
}

.box1 {
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 5px;
  padding: 0.5em 1em;
  width: fit-content;
  margin-top: 3rem;
  color: var(--white);
  background-color: var(--teal);
}

.box1 :hover {
  color: var(--darkgray);
  transition: color 0.5s ease;
}

a {
  color: var(--white);
  text-decoration: none;
}

.slogan {
  font-size: 2rem;
  margin-top: 1em;
  line-height: 1.3em;
  font-weight: 200;
  width: 50%;
}

/* ====== SERVICES ===== */
.services {
  background-color: var(--violet3);
  font-size: 1rem;
  font-weight: 300;

  .columns {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;
  }
}

article {
  flex: 0 1 25%;
}

.icons {
  width: 100%;
  max-height: 9rem;
  padding: 1rem;
}

/* ====== CLIENTS ===== */
.clients {
  display: flex;
  gap: 4rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: hidden;
}

.third-party,
.third-party-tall {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

.third-party img {
  width: 100%;
  height: auto;
  /* max-height: 6rem; */
  /* max-width: 100%; */
  /* aspect-ratio: 1 / 1; */
  display: block;
}

.third-party-tall img {
  width: auto;
  max-width: 100%;
  max-height: 6rem;
  /* border: #53ccb6 solid 2px; */
  display: block;
}

/* ====== CASE STUDIES ===== */
.cases {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2em;
  padding: 4em 0 4em 0;
  display: flex;
  gap: 1.5rem;
  /* & > * {
    flex-basis: calc(50% - var(--base-space));
  } */
}

.cases1st {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2em;
  padding: 0em 0 4em 0;
  display: flex;
  gap: 1.5rem;
}

.cases-img {
  object-fit: cover;
  width: 30%;
}

.stats_container {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.stats {
  display: flex;
  align-items: baseline;
  padding: 2rem 0rem 0rem 0rem;

  p {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.75rem 0rem 0rem 0rem;
    font-family: Space grotesk;
  }
}

.icon_stat {
  padding: 0rem 1rem 0rem 0rem;
  max-height: 3rem;
}

.figure {
  color: var(--violet1);
  font-size: 3rem;
  font-weight: 500;
  padding: 0rem 0rem 0rem 0rem;
  font-family: Space grotesk;
}

/* ====== QUOTES ===== */
.quote {
  background-color: var(--violet2);
}

blockquote {
  /* border: 1px red solid; */
  font-weight: 200;
  font-size: 1.75rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3em;
  padding-bottom: 1em;
  /* padding-top: 3em; */
}

cite {
  color: var(--violet1);
  font-size: 1.25rem;
  font-weight: 500;
  font-style: normal;
}

.single-quote {
  padding-bottom: 3em;
}

/* ====== FONTS ===== */
h1 {
  font-size: 2rem;
  font-family: Space grotesk;
}

h2 {
  color: var(--teal);
  font-size: 2rem;
  padding: 0rem 0rem 3rem 0rem;
  font-family: "Space grotesk", sans-serif;
}

p {
  font-size: 1.5rem;
}

/* ====== BREAK ===== */
.break {
  background-color: var(--teal);
  color: var(--white);
  padding: 50px;
  text-align: center;
}

.callout {
  font-size: 2rem;
  font-weight: 500;
  padding: 0px 0px 20px 0px;
  font-family: Space grotesk;
}
/* ====== FOOTER ===== */
footer {
  text-align: center;
  padding: 5rem;

  p {
    font-size: 0.7rem;
    padding: 2rem 0rem 5rem 0rem;
  }

  img {
    padding: 1em;
    display: inline-block;
    max-height: 70px;
    fill: var(--darkgray);

    hover {
      fill: var(--lightgray);
    }
  }
}

/* ====== MOBILE ===== */
@media screen and (max-width: 768px) {
  .logo {
    max-width: 100%;
  }
  .slogan {
    font-size: 1.5rem;
    font-weight: 200;
    width: 100%;
  }
  .open::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.1)
    );
    pointer-events: none;
    /* url("../images/header-bg.png"); */
  }

  .open > * {
    position: relative;
    z-index: 1;
  }

  h2 {
    font-size: 1.75rem;
    /* padding: 0rem 0rem 1rem 0rem; */
  }

  p {
    font-size: 1.25rem;
    line-height: normal;
  }
  .services {
    /* p {
      text-align: center;
    } */

    .columns {
      flex-direction: column;
    }

    .servico-item {
      display: flex;
      align-items: center;
      gap: 2rem;
      /* justify-content: left; */
      text-align: left;
    }

    /* .servico-item img {
      max-width: 25%;
      max-height: 7rem;
    } */

    .icons {
      max-width: 25%;
      max-height: 25%;
    }
  }
  .clients {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .third-party,
  .third-party-tall {
    flex: 0 0 calc(50% - 0.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .third-party img,
  .third-party-tall img {
    max-width: 70%;
    height: auto;
    display: block;
  }

  .third-party-tall {
    max-height: 6rem;
  }

  blockquote {
    font-size: 1rem;
  }

  cite {
    font-size: 0.75rem;
  }

  .cases1st {
    flex-direction: column;
    align-items: flex-start;
  }
  .cases {
    flex-direction: column;
    align-items: flex-start;
  }
  .stats_container {
    flex-direction: column;
    align-items: flex-start;
    /* border: #ee1384 solid 1px; */
    gap: 0rem;
  }

  .stats {
    /* border: blueviolet solid 1px; */
    width: 100%;
  }

  .icon_stat {
    padding: 0rem 1rem 0rem 0rem;
    max-height: 3rem;
    width: 4rem;
    /* border: royalblue solid 1px; */
  }

  .cases-img {
    width: 100%;
    order: 3;
  }
}
