nav {
  background-color: rgba(83, 204, 182, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  font-family: "Space grotesk", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

nav a {
  transition: color 0.5s ease;
  color: var(--white);
}

nav a:hover {
  color: var(--darkgray);
}

nav ul {
  list-style-type: none;
  cursor: pointer;
}
nav ul li {
  display: inline-flex;
  margin: 0.3em 1em;
}

nav input[type="checkbox"],
nav label {
  display: none;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }

  nav ul {
    display: block;
  }

  nav ul:last-child {
    width: 100%;
    flex-basis: 100%;
  }
  nav ul li {
    margin-bottom: 0;
    width: 100%;
    text-align: right;
    padding: 0.5em;
  }

  nav label {
    text-align: right;
    display: block;
    padding: 0.5em;
    line-height: 1.6em;
    align-self: center;
    color: var(--white);
    transition: color 0.5s ease;
  }

  nav a:active {
    color: var(--darkgray);
  }

  input[type="checkbox"]:not(:checked) + ul {
    display: none;
  }
}
